.main-button {
    display: inline-block;
    border: none;
    padding: 14px 39px;
    background-color: $main-color;
    color: #fff;
}

@media only screen and (max-width:640){
    .main-button{
        display: none;
    }
}