.main-button, .hero-button{
    display: inline-block;
    border: none;
    margin-left: auto;
    padding: 14px 39px;
    background-color: $main-color;
    color: #fff;
}

.main-button:hover{
    opacity: 0.8;
}

.main-button:active{
    opacity: 0.6;
}

.hero-button{
    margin-left: 260px;
}