.header {
    &__container {
        display: flex;
        padding: 22px 20px;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    &__humburger {
        display: none;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo-link {
        flex-shrink: 0;
    }
}

@media only screen and (max-width:640px){

    .header {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__humburger {
            position: absolute;
            display: inline-block;
            left: 20px;
        }
    }

    .main-button {
        display: none;
    }

    .site-nav {
        display: none;
    }
}