.hero {

    &__container {
        padding: 153px 0px;
        // padding-left: 165px;
        position: relative;
        background-image: url("../images/hero-back.jpg");
        background-repeat: no-repeat;
    }

}