.site-nav{
    margin-left: 58px;


    &__list{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item-link{
        text-decoration: none;
    }

    &__item + &__item {
        margin-left: 32px;
    }

    &__item-link{
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }

    &__item-link:hover {
        opacity: 0.8;
    }

    &__item-link:active {
        opacity: 0.6;
    }
}
